{% load render_bundle from webpack_loader %}
<!doctype html> 
<!--< html lang="fr"> -->
  <head> 
    <meta charset="utf-8" /> 
    <title>Testing</title> 
  </head>

  <body> 
    <div id="root"></div>           
    {% render_bundle 'main' %} 
  </body> 
<!--< /html>-->