@import '~antd/dist/antd.css';

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;;
    transform: translate(-50%, -50%);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
}